/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 150%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}

chess-board {
  border: 1px #444 solid;
  display: inline-block;
  height: 400px;
  width: 400px;  
}

.board-square {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.square-name {
  font-family: verdana;
  font-size: 8px;
  color: #369;
  padding: 2px;
}